 header div ul {
    width: 100vw;
    height: 6.5vh;
    background-color: #584a61;

}
ul {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items:center;
    font-size: 24px;
}
a:last-child {
    
    margin-right: 10px;
}
header ul a {
text-decoration: none;
}
ul a li {
    color: #b19bb4;
}
main {
    gap: 2px;
    width: 100vw;
    height: 100vh;
    display: flex;
}
